.resultContainer {
  background: #111111;
  padding: 8px;
  border-radius: 0.5rem;
}

.resultInput {
  text-align: end;
  background: #111111;
  color: #d9d9d9;
  width: 100%;
  margin-bottom: 2px;
  font-size: 1.875rem;
  border-bottom: 2px solid black;
}

.buttonContainer {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.button {
  color: #d9d9d9;
  font-size: 2.25rem;
  background: #111111;
  padding: 4px;
}